body {
	margin: 0;
	padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.2;
    min-height: 1200px;
    background-color: #849d8f;
    color: #ffffff;
    font-weight: bold;
}

a {
	text-decoration: none;
	color: #ffffff;
}

.link {
	display: inline-block;
	vertical-align: top;
	padding: 8px 23px;
	padding-bottom: 12px;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	text-transform: none;
	text-decoration: none;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
	white-space: normal;
	background-color: #f26843;
	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	color: #ffffff;
	border: none;
	border-radius: 22px;
	cursor: pointer;
	outline: none;
}

.link2{
	display: inline-block;
	vertical-align: top;
	padding: 8px 23px;
	padding-bottom: 12px;
	font-family: Roboto, Arial, sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	text-transform: none;
	text-decoration: none;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
	white-space: normal;
	background-color: #f26843;
	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	color: #fefefe;
	border: none;
	border-radius: 22px;
	cursor: pointer;
	outline: none;
}

.link3 {
	display: inline-block;
	vertical-align: top;
	padding: 8px 23px;
	padding-bottom: 12px;
	font-family: Roboto, Arial, sans-serif;
	font-weight: 700;
	text-align: center;
	text-transform: none;
	text-decoration: none;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
	white-space: normal;
	background-color: #f26843;
	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	border: none;
	border-radius: 22px;
	cursor: pointer;
	outline: none;
	color: #ffffff;
	font-size: 32px;
	font-weight: 700;
	line-height: 44px;
}

.link4 {
	display: inline-block;
	vertical-align: top;
	padding: 8px 23px;
	padding-bottom: 12px;
	font-family: Roboto, Arial, sans-serif;
	font-weight: 700;
	text-align: center;
	text-transform: none;
	text-decoration: none;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
	white-space: normal;
	background-color: #f26843;
	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	border: none;
	border-radius: 22px;
	cursor: pointer;
	outline: none;
	color: #fceeec;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
}

.site-navigation {
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
	list-style: none;
}

.site-navigation ul {
	list-style: none;
}

.site-navigation a:hover,
.user-navigation a:hover {
	color: #323232;
	background-color: #fbded8;
}

.site-navigation a:focus,
.user-navigation a:focus {
	background-color: #f6b5a5;
}
.site-navigation-catalog {
	font-size: 14px; 
	line-height: 16px;
	font-weight: 400;
}

.link-under {
	border-bottom: 1px solid rgba(255,255,255,0.2)
}

.login-link {
	color: #999999;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}

.enter-site {
	font-size: 14px; 
	line-height: 16px;
	font-weight: 500;
}

.button-input {
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
}

.full-basket {
	color: #323232;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
}

.selected-product {
	color: #323232;
	font-size: 13px;
	font-weight: 400;
	line-height: 16px;
}

.selected-product span {
	color: #999999;
	font-size: 13px;
	font-weight: 400;
	line-height: 16px;
}

.sum {
	color: #323232;
	font-size: 15px;
	font-weight: 700;
	line-height: 18px;
}

.container2 ul {
	list-style: none;
}

.login-additional {
	font-size: 13px; 
	line-height: 24px;
}

.login-link {
	color: #323232;
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
}

.crumbs {
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	border-bottom: 1px solid rgba(255,255,255,0.2)
}

.container2 h1 {
	color: #ffffff;
	font-size: 35px;
	font-weight: 700;
	line-height: 41px;
}

.selection-form legend {
	color: #ffffff;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
}

.fatness-value {
	color: #ffffff;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
}

.filler-name {
	color: #ffffff;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
}

.basket {
	font-size: 14px; 
	line-height: 16px;
	font-weight: 500;
	border: 1px solid silver;
	background-color: #f8f7f4;
}

.slider p {
	color: #ffffff;
	font-family: Roboto;
	font-size: 60px;
	font-weight: 700;
	line-height: 60.35px;
}

.navigation {
	font-size: 14px; 
	line-height: 16px;
	font-weight: 700;
}

.navigation a {
	font-size: 22px; 
	line-height: 24px;
	font-weight: 700;
}

.link3:hover {
	box-shadow: 0 2px 2px #ac1000;
	background-color: rgba(255, 255, 255, 0.2);
	background-color: #ffffff;
	background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
}

.link3:focus {
	box-shadow: inset 0 2px 2px #942718;
	background-color: rgba(0, 0, 0, 0.07);
	background-color: #ffffff;
	background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
}

.link4:hover {
	box-shadow: 0 1px 2px #ac1000;
	background-color: rgba(255, 255, 255, 0.2);
	background-color: #ffffff;
	background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
}

.link4:focus {
	box-shadow: inset 0 2px 2px #942718;
	background-color: rgba(0, 0, 0, 0.07);
	background-color: #ffffff;
	background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
}

.container {
	margin-left: 25px; 
	margin-right: 25px;
}

.sort-selection option {
	background-color: #a6b8ad;
	opacity: 0.2;
}

.user-btn {
	border: 2px solid #ffffff;
	background-color: #a6b8ad;
	color: #ffffff;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
}

.gift {
	
}

.gift .link {
	margin-bottom: -25px;
	padding-left: 15px;
	padding-right: 15px;
}

.visually-hidden {
	position: absolute; 
	clip: rect(0 0 0 0); 
	width: 1px; 
	height: 1px; 
	margin: -1px;
}

.gift1 {
	margin-left: 27px; 
	margin-right: 27px; 
	background-image: url("../img/raspberry.jpg");
	border-radius: 15px;
}

.gift1 h3 {
	padding-left: 20px;
	padding-top: 20px;
	color: #ffffff;
	font-size: 35px;
	font-weight: 700;
	line-height: 41px;
}

.gift1 p {
	padding-left: 20px;
	padding-right: 20px;
	color: #ffffff;
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
}

.gift2 {
	background-image: url("../img/chocolate.jpg");
	border-radius: 15px;
}

.gift2 h3 {
	font-size: 35px;
	font-weight: 700;
}

.gift2 p {
	padding-left: 20px;
	padding-right: 20px;
	font-size: 18px;
}

.ice-crem {
	padding: 0px 2.3%;
}

.ice-crem ul {
	list-style: none;
}


.ice-price {
	width: 267px; 
	height: 267px;
	border-radius: 50%;
}

.ice-price img {
	border-radius: 50%;
}

.price {
	color: #ffffff;
	font-size: 45px;
	text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.kilogram {
	color: #ffffff; 
	font-size: 30px;
	text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.description-ice {
	color: #ffffff;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	border-bottom: 1px solid rgba(255,255,255,0.2)
	
}
/*--------------------------------------------INFORMATION----------------------------------------- */
.information {
	background: url("../img/waffle.jpg") round;
	border-radius: 15px;
}

.information ul {
	list-style: none;
}

.information h3{
	padding: 20px;
	color: #323232;
	font-size: 24px;
	font-weight: 500;
	line-height: 30px;
}

.information p {
	color: #323232;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
}

.news-in {
	background: url("../img/strawberry.jpg") no-repeat;
	width: 560px;
	height: 220px;
	border-radius: 20px;
}

.news-in p {
	color: #323232;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	padding: 20px;
}

.news-in h3 {
	color: #323232;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	padding: 20px;
	text-decoration: underline;
}

.mail {
	background-color: #f8f7f4;
	border-radius: 20px;
	margin-left: 612px;
	margin-top: -230px;
}

.mail p {
	padding: 20px;
	color: #5a5a5a;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
}

.subscription-email .input-field {
	color: #999999;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
/*-------------------------------------------Contact Information--------------------------------- */
.map {
	background: url("../img/map.jpg") no-repeat;
	/*background: url("../img/waffle.jpg") round; */
}

.feedback-position1 {
	color: #323232;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}

.feedback-position2 {
	color: #323232;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
}

.feedback-position3 {
	color: #323232;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}

.feedback-position4 a {
	color: #323232;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	
}

.feedback-position5 {
	color: #323232;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}

.feedback-form h3 {
	color: #323232;
	font-size: 24px;
	font-weight: 500;
	line-height: 28px;
}

.input-field {
	color: #999999;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	border: 1px solid rgba(178, 178, 178, 0.52);
	background-color: #ffffff;
	border-radius: 5px;
}

.feedback-form textarea {
	color: #999999;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

#comment-field {
	color: #999999;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	border: 1px solid rgba(178, 178, 178, 0.52);
	background-color: #ffffff;
	border-radius: 5px;
}
/*--------------------------------------------FOOTER----------------------------------------------- */
.main-footer ul {
	list-style: none;
}

.provider {
	color: #ffffff;
	font-size: 13px;
	font-weight: 700;
	line-height: 18px;
	border-bottom: 1px solid rgba(255,255,255,0.2)
}
.view {
	color: #ffffff;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	border-bottom: 1px solid rgba(255,255,255,0.2)
}

.logo p {
	color: #fefefe;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}

.footer-copyright a {
	border-bottom: 1px solid rgba(255,255,255,0.2)
}

.logo img {
	
}














